.lu-hero {

  @apply .tw-max-w-full .tw-h-64 .tw-bg-center .tw-bg-center ;

  background-image: linear-gradient(
    to right,
    rgba($grey-darker, 0.3)),
  url(https://images.unsplash.com/photo-1502003148287-a82ef80a6abc?ixlib=rb-0.3.5&s=497ab1e075197f8d6536c77207575bfc&auto=format&fit=crop&w=2134&q=80);

}