
// Tailwid
@import "~tailwindcss/preflight";
@import "~tailwindcss/components";

// custom components go here
@import "vendor/bulma-theme";
@import "~bulma/bulma.sass";

@import "layouts/profile";

a {
  @apply .tw-text-bulma-black ;
  text-decoration: none !important;

  &:hover {
    color: $link;
  }

}

html {
  // @apply .tw-bg-bulma-lightest ;
  background: #F1F2F5;
  // background: #e4e9ee;
}

[v-cloak] {
  display: none ; 
}

// Issue with tablet sizing being 768px+
// in this specific case for the trending threads pannel
// So this specifcally sets the sizing to bulma size-8
// for everything passed ipad
.trending-lg-sizing {
  @media (min-width: 769px) {
    // width: 58.33% !important;
    width: 66.66% !important;
  }
}

// Hide the search bar on small screens
.hide-sb-widget {
  @media (max-width: 767px) {
    // width: 58.33% !important;
    display: none !important;
    padding: 0px;
  }
}

// threads.create quill editor
.editor-height {
  @media (max-width: 1023px) {
    height: 12rem;
  }

  height: 10.75rem;
}



@import "components/_lu-pannel";
@import "components/_lu-card";
@import "components/_lu-level";
@import "components/_lu-hero";
@import "components/_lu-activity";



@import "~tailwindcss/utilities";
//custom utilities here