
// Tailwid
@import "~tailwindcss/preflight";
@import "~tailwindcss/components";

// custom components go here
@import "vendor/bulma-theme";
@import "~bulma/bulma.sass";

@import "layouts/profile";

a {
  @apply .tw-text-bulma-black ;
  text-decoration: none !important;

  &:hover {
    color: $link;
  }

}

html {
  // @apply .tw-bg-bulma-lightest ;
  background: #F1F2F5;
  // background: #e4e9ee;
}

[v-cloak] {
  display: none ; 
}


@import "components/_lu-pannel";
@import "components/_lu-card";
@import "components/_lu-level";
@import "components/_lu-hero";
@import "components/_lu-activity";



@import "~tailwindcss/utilities";
//custom utilities here